// TODO: Add style guide styles and use variables, not custom values
@import '../../styles/tc-includes';

.example-component-container {
  margin: 20px;
  width: 400px;
}

button {
  @include tc-button;
  margin: 10px;

  &.primary {
    @include tc-button-primary;
  }
}