// Buttons

// Table of Contents
//
// Links
// Buttons
button {
  cursor: pointer;
}


// Links
a.tc-link,
.tc-link,
a.tc-link:active,
.tc-link:active,
a.tc-link:visited,
.tc-link:visited {
  cursor: pointer;
}

a.tc-link:hover,
.tc-link:hover {
  color: $tc-dark-blue;
  text-decoration: none;
}
a.tc-btn {
  display: inline-block;
}
.tc-btn {
  @include roboto;
  @extend .size-sm; 
  padding: 0 20px;
  border-radius: 2 * $corner-radius;
  cursor: pointer;
  user-select:none;
  border-width: 1px;
  border-style: solid;
  &:focus {
    outline: none;
  }
}

// Button States

a.tc-btn-pressed,
.tc-btn-pressed {
  box-shadow: 0px 1px 3px 0px $tc-gray-80;
}

// Button Sizes

a.tc-btn-lg,
.tc-btn-lg {
  @extend .size-lg;
  padding: 0 30px;
}

a.tc-btn-md,
.tc-btn-md {
  @extend .size-md;
  padding: 0 25px;
}

a.tc-btn-sm,
.tc-btn-sm {
  @extend .size-sm;
  padding: 0 15px;
}

a.tc-btn-xs,
.tc-btn-xs {
  @extend .size-xs;
  padding: 0 10px;
}

// Button Types

@mixin button-transition {
  transition: background 0.5s;
}

a.tc-btn-primary,
.tc-btn-primary {
  background: $tc-dark-blue-90;
  border-color: $tc-dark-blue-90;
  color: $tc-white;
  &:hover:enabled {
    @include background-gradient(#3996FF, #127BF3);
  }
  &:active:enabled {
    background: $tc-dark-blue-90;
    box-shadow: inset 0 1px 3px 0 rgba($tc-gray-80, 0.50);
  }
  &.loading:enabled,
  &:focus:not(:disabled) {
    background: $tc-dark-blue-90;
    border-color: $tc-dark-blue;
    box-shadow: 0 0 2px 1px $tc-dark-blue-70;
  }
}

a.tc-btn-secondary,
.tc-btn-secondary {
  background: $tc-gray-40;
  border-color: $tc-gray-40;
  color: $tc-white;
  &:hover:enabled {
    @include background-gradient($tc-gray-40, $tc-gray-50);
  }
  &:active:enabled {
    background: $tc-gray-50;
    box-shadow: inset 0 1px 3px 0 rgba($tc-gray-80, 0.38);
  }
  &.loading:enabled,
  &:focus:not(:disabled) {
    background: $tc-gray-40;
    border-color: $tc-gray-50;
    box-shadow: 0 0 2px 1px $tc-dark-blue-70;
  }
}

a.tc-btn-default,
.tc-btn-default {
  background: $tc-white;
  border-color: $tc-gray-50;
  color: $tc-gray-70;
  &.loading:enabled,
  &:focus:not(:disabled) {
    background: $tc-white;
    border-color: $tc-dark-blue-70;
    box-shadow: 0 0 2px 1px $tc-dark-blue-30;
  }
  &:active:enabled,
  &:hover:enabled {
    background-image: linear-gradient(0deg, #F5F5F5 0%, #FFFFFF 49%, #FFFFFF 100%);
    border-color: $tc-gray-40;
  }
  &:active:not(:disabled) {
    box-shadow: inset 0 1px 2px 0 rgba($tc-black, 0.20);
  }
}

a.tc-btn-warning,
.tc-btn-warning {
  background: $tc-red-70 ;
  border-color: $tc-red-70 ;
  color: $tc-white;
  &:hover:enabled {
    @include background-gradient($tc-red-70, $tc-red);
  }
  &:active:enabled {
    background: $tc-red;
    box-shadow: inset 0 1px 3px 0 rgba($tc-gray-80, 0.38);
  }
  &.loading:enabled,
  &:focus:not(:disabled) {
    background: $tc-red-70 ;
    border-color: $tc-red;
    box-shadow: 0 0 2px 1px $tc-red-30;
  }
}

a.tc-btn-link,
.tc-btn-link {
  @include roboto-medium;
  border-color: transparent;
  background: transparent;
  color: $tc-dark-blue;
  line-height: 29px;

  &:hover:enabled  {
    color: $tc-dark-blue-70;
  }
  &:active:enabled  {
    color: $tc-dark-blue-90;
  }
  &.loading:enabled,
  &:focus:not(:disabled) {
    border-color: $tc-dark-blue-70;
    box-shadow: 0 0 2px 1px $tc-dark-blue-30;
  }
  &:focus:not(:disabled) {
    color: $tc-dark-blue;
  }
  &.loading:enabled {
    color: $tc-gray-80; 
  }
  &[disabled],
  &:disabled {
    color: $tc-gray-80; 
  }
}

button[disabled],
a.tc-btn[disabled],
button[disabled]:hover,
a.tc-btn[disabled]:hover,
button[disabled]:active,
a.tc-btn[disabled]:active {
  opacity: 0.5;
}