@import 'tc-includes';
@import 'reset';
@import 'typography';

// App level resets
html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited, &:hover, &:active {
    color: inherit;
  }
}
