@import 'tc-includes';
@import 'reset';

html {
  min-height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

//TODO: add necessary body styling for tc app
body {
  min-height: 100%;
}