// Variables

// Table of Contents
//
// Base units
// Colors
// Typography

// 
// Base unit and corner radius are to be used instead of direct pixel dimensions.
// 
// Make sure to use them with with multiples to create a harmonic ratios and even 
// spacing at your components layout (paddng, margins) and typography (line height)
$base-unit: 5px;
$corner-radius: 2px;

// COLOR PALETTE
//
// Grayscale colors
$tc-gray-100: #151516;
$tc-gray-90: #2a2a2b;
$tc-gray-80: #404041;
$tc-gray-70: #555555;
$tc-gray-60: #6b6b6b;
$tc-gray-50: #808080;
$tc-gray-40: #959596;
$tc-gray-30: #aaaaab;
$tc-gray-20: #c0c0c0;
$tc-gray-10: #d5d5d5;
$tc-gray-05: #e0e0e0;
$tc-gray-0: #ffffff;
$tc-gray-neutral-dark: #ebebeb;
$tc-gray-neutral-light: #fafafb;

// Accents & Shades
$tc-dark-blue-110: #006dea;
$tc-dark-blue-100: #0681ff;
$tc-dark-blue-70: #55a5ff;
$tc-dark-blue-30: #cee6ff;
$tc-dark-blue-10: #f4f9ff;

// Light Blue - design color code
$tc-light-blue-110: #169ed9;
$tc-light-blue-100: #26ade9;
$tc-light-blue-70: #67c5ef;
$tc-light-blue-30: #bde6f8;
$tc-light-blue-10: #e9f6fc;

// Warm Orange - data science color code
$tc-orange-110: #f26500;
$tc-orange-100: #fb7d22;
$tc-orange-70: #fda464;
$tc-orange-30: #fee3d0;
$tc-orange-10: #fff0eb;

// Red - used for warnings
$tc-red-110: #ea1900;
$tc-red-100: #f22f24;
$tc-red-70: #ff5b52;
$tc-red-30: #ffd4d1;
$tc-red-10: #fff4f4;

// Yellow
$tc-yellow-110: #f2c900;
$tc-yellow-100: #fde400;
$tc-yellow-70: #fbee88;
$tc-yellow-30: #fff8ca;
$tc-yellow-10: #fffde5;

// Greens - development color code
$tc-green-110: #55b000;
$tc-green-100: #60c700;
$tc-green-70: #96d957;
$tc-green-30: #cfefb2;
$tc-green-10: #effae5;

// Purples
$tc-purple-110: #9050a3;
$tc-purple-100: #9050a3;
$tc-purple-70: #b47dd6;
$tc-purple-30: #e2c7f2;
$tc-purple-10: #f8f2fb;

// TC Metal colors - Badges and medals
$tc-gold-100: #ffd84d;
$tc-gold-110: #c99014;
$tc-gold-130: #865e07;
$tc-silver-100: #d1d0cf;
$tc-silver-110: #716d67;
$tc-silver-130: #554e48;
$tc-bronze-100: #d98f64;
$tc-bronze-110: #854e29;
$tc-bronze-130: #733d17;

// Pastel colors, used for levels
$tc-pastel-green: #25c089;
$tc-pastel-blue: #666eff;
$tc-pastel-yellow: #fcb816;
$tc-pastel-crimson: #e6175c;

// Umber - new
$tc-umber-light: #f1f0f0;
$tc-umber: #d7d3d0;
$tc-umber-dark: #a0958c;


// COLOR ALIASES

// Brand colors
$tc-dark-blue: $tc-dark-blue-100;
$tc-light-blue: $tc-light-blue-100;
$tc-green: $tc-green-100;
$tc-purple: $tc-purple-100;
$tc-yellow: $tc-yellow-100;
$tc-orange: $tc-orange-100;
$tc-red: $tc-red-100;
$tc-black: $tc-gray-100;
$tc-white: $tc-gray-0;

// Community achievement color codes
$tc-level-1: $tc-gray-50;
$tc-level-2: $tc-pastel-green;
$tc-level-3: $tc-pastel-blue;
$tc-level-4: $tc-pastel-yellow;
$tc-level-5: $tc-pastel-crimson;

// Metal colors
$tc-gold: $tc-gold-100;
$tc-silver: $tc-silver-100;
$tc-bronze: $tc-bronze-100;

// Typography
//
// Label, body, and heading font sizes The typographyc scale of the TC System
// is 11, 12, 13, 15, 20, 28, 42, 64, 72 using the variables below we provide a
// systematic approach to your creative typography; also opens the possiblitiy
// for fine adjustment and more typefaces used as the system evlovles.
//

// Headings
$tc-heading-xl: 44px;
$tc-heading-lg: 36px;
$tc-heading-md: 28px;
$tc-heading-sm: 20px;
$tc-heading-xs: 15px;

// Body
$tc-body-lg: $tc-heading-sm; // 20
$tc-body-md: $tc-heading-xs; // 15
$tc-body-sm: 13px;
$tc-body-xs: 11px;

// Labels
$tc-label-lg: $tc-body-md; // 15
$tc-label-md: $tc-body-sm; // 13
$tc-label-sm: 12px;
$tc-label-xs: $tc-body-xs; // 11
$tc-label-xxs: 10px; // new - to support smallest text

// breakpoints
$screen-lg: 1360px;
$screen-md: 768px;
$screen-sm: 640px;
$screen-xs: 320px;
