// FONTS

@mixin roboto {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin roboto-medium {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin proxima-nova-thin {
  font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

@mixin proxima-nova-light {
  font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

@mixin proxima-nova {
  font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin proxima-nova-semi-bold {
  font-family: 'Proxima-Nova', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

// LABEL TYPOGRAPHY SIZES

@mixin tc-label {
  @include roboto-medium;
  font-size: 13px;
  line-height: 20px;
}

@mixin tc-label-large {
  @include roboto-medium;
  font-size: 15px;
  line-height: 20px;
}

@mixin tc-label-small {
  @include roboto
  font-size: 12px;
  line-height: 15px;
}

@mixin tc-label-extra-small {
  @include roboto;
  font-size: 11px;
  line-height: 15px;
}

//BODY TYPOGRAPHY SIZES

@mixin tc-body {
  @include proxima-nova;
  font-size: 16px;
  line-height: 25px;
}

@mixin tc-body-large {
  @include proxima-nova;
  font-size: 20px;
  line-height: 25px;
}

@mixin tc-body-small {
  @include proxima-nova;
  font-size: 14px;
  line-height: 20px;
}

@mixin tc-body-extra-small {
  @include proxima-nova;
  font-size: 12px;
  line-height: 20px;
}

//HEADING TYPOGRAPHY SIZES

@mixin tc-heading-extra-large {
  @include proxima-nova-light;
  font-size: 42px;
  line-height: 50px;
}

@mixin tc-heading-large {
  @include proxima-nova;
  font-size: 28px;
  line-height: 35px;
}

@mixin tc-heading {
  @include proxima-nova;
  font-size: 20px;
  line-height: 30px;
}

@mixin tc-heading-small {
  @include proxima-nova-semi-bold;
  font-size: 16px;
  line-height: 25px;
}

@mixin tc-heading-extra-small {
  @include proxima-nova-semi-bold;
  font-size: 14px;
  line-height: 25px;
}

//BUTTON

@mixin tc-button {
  @include tc-label-large;
  color:            $tc-gray-70;
  border-radius:    2px;
  border:           1px solid $tc-gray-50;
  background-color: $tc-white;
  height:           40px;
  padding:          10px 25px;
  cursor:           pointer;
  display:          inline-block;

  &:hover {
    background: linear-gradient(0deg, $tc-white, #F5F5F5);
  }

  &:active {
    background: linear-gradient(0deg, #F5F5F5, $tc-white);
  }

  &:focus {
    border: 1px solid $tc-dark-blue-90;
    outline: none;
  }
}

@mixin tc-button-primary {
  @include tc-button
  background-color: $tc-dark-blue-90;
  border: 1px solid $tc-dark-blue;
  color: $tc-gray-neutral-light;

  &:hover {
    background: linear-gradient(0deg, #127BF3, #3996FF);
  }

  &:active {
    background: linear-gradient(0deg, #3996FF, #127BF3);
  }
}

